// Color theme
$c1: #F1F8E9;
$c2: #DCEDC8;
$c3: #C5E1A5;
$c4: #AED581;
$c5: #9CCC65;
$c6: #8BC34A;
$c7: #7CB342;
$c8: #689F38;
$c9: #558B2F;
$c10: #33691E;
$c11: #CCFF90;
$c12: #B2FF59;
$c13: #76FF03;
$c14: #64DD17;

// Overlays
$overlay1: rgba(0, 0, 0, .5);
$overlay2: rgba(0, 0, 0, .7);
$overlay3: rgba(0, 0, 0, .9);
$overlay4: rgba(0, 0, 0, .3);